*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color:#081b29;
    
    display: flex;
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    position: relative;
    text-decoration: none;
    font-size: 25px;
    color: #ededed;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Add a sky blue glow shadow */
    animation: glow5 2s ease-in-out infinite; /* Apply the glow animation */
    

}

@keyframes glow5 {
    0% {
      text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Initial glow color and size */
    }
    50% {
      text-shadow: 0 0 20px rgba(0, 191, 255, 0.9); /* Midway glow color and size */
    }
    100% {
      text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Final glow color and size */
    }
  }

  

  @keyframes showRight {
    100%{
        width: 0;

    }
}



.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Add a sky blue glow shadow */
    animation: glow1 2s ease-in-out infinite; /* Apply the glow animation */
    

}

@keyframes glow {
    0% {
      text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Initial glow color and size */
    }
    50% {
      text-shadow: 0 0 20px rgba(0, 191, 255, 0.9); /* Midway glow color and size */
    }
    100% {
      text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Final glow color and size */
    }
  }

.navbar :hover {
    color: #00abf0;
}

.heading{
   position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;


}






.heading h1{
    margin-top: 50px;
    font-size: 50px;
    color: #00abf0;
    margin-bottom: 25px;
    position: relative;

}

.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #ededed;
}

.heading p{
    font-size: 18px;
    color: #ededed;
    margin-bottom: 35px;
}



.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
    

}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.about::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}


.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
        width: 200px; /* Adjust the size of the container as needed */
        height: 600px; /* Keep the same value as width to get a perfect circle */
        
        overflow: hidden; /* Hide any content that goes beyond the circle */
        background-image: url("MrBeast_2022_02_crop_\(cropped\).jpg"); /* Replace with the path to your photo */
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Add a sky blue glow shadow */
        animation: glow 2s ease-in-out infinite; /* Apply the glow animation */
        margin-left: 50px;
        position: relative;
      

}

.about-image::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}


@keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Initial glow color and size */
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); /* Midway glow color and size */
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Final glow color and size */
    }
  }
  
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
    position: relative;
    
}

.about-image img::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}

.about-image :hover img{
    transform: scale(1.2);
}

.about-content{
    flex: 1;

}
.about-content h2{
    margin-top: 100px;
    font-size: 23px;
    margin-bottom: 15px;
    color: #00abf0;


}

.about-content p{
    font-size:18px ;
    line-height: 1.5;
    color: #ededed;
}

.btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}
.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover:before{
    width: 100%;
}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    
    
}

.heading{
    font-size: 4rem;
    margin-top: 6rem;
    text-align: center;
    color: #ededed;
    text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Add a sky blue glow shadow */
    animation: glow4 2s ease-in-out infinite; /* Apply the glow animation */
    
}

@keyframes glow4 {
    0% {
      text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Initial glow color and size */
    }
    50% {
      text-shadow: 0 0 20px rgba(0, 191, 255, 0.9); /* Midway glow color and size */
    }
    100% {
      text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Final glow color and size */
    }
  }

.heading span{
    color: #00abf0;
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-img img{
    width: 88%;
    border-radius: 50%;
    border: 2rem solid var(--main-color);
    height: 88%;


}

span{
    color: var(--main-color);
    text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Add a sky blue glow shadow */
    animation: glow3 2s ease-in-out infinite; /* Apply the glow animation */
    
}


@keyframes glow3 {
    0% {
      text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Initial glow color and size */
    }
    50% {
      text-shadow: 0 0 20px rgba(0, 191, 255, 0.9); /* Midway glow color and size */
    }
    100% {
      text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Final glow color and size */
    }
  }
.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #00abf0;
    border-bottom: .2rem solid #00abf0;
    border-left: .2rem solid #ededed;
    border-right: .2rem solid #ededed;
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Add a sky blue glow shadow */
    animation: glow 2s ease-in-out infinite; /* Apply the glow animation */

}

@keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Initial glow color and size */
    }
    50% {
      box-shadow: 0 0 20px rgba(0, 191, 255, 0.9); /* Midway glow color and size */
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Final glow color and size */
    }
  }

.about-img .circle-spin1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  
  border-top: .2rem solid #ededed;
  border-bottom: .2rem solid #ededed;
  border-left: .2rem solid #00abf0;
  border-right: .2rem solid #00abf0;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Add a sky blue glow shadow */
  animation: glow 2s ease-in-out infinite; /* Apply the glow animation */

}

h3{
    color: #00abf0;
    text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Add a sky blue glow shadow */
    animation: glow1 2s ease-in-out infinite; /* Apply the glow animation */
    font-size: 1.9rem;
    
}

@keyframes glow1 {
    0% {
      text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Initial glow color and size */
    }
    50% {
      text-shadow: 0 0 20px rgba(0, 191, 255, 0.9); /* Midway glow color and size */
    }
    100% {
      text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Final glow color and size */
    }
  }




p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Add a sky blue glow shadow */
    animation: glow2 2s ease-in-out infinite; /* Apply the glow animation */
    text-align: center;
}

@keyframes glow2 {
    0% {
      text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Initial glow color and size */
    }
    50% {
      text-shadow: 0 0 20px rgba(0, 191, 255, 0.9); /* Midway glow color and size */
    }
    100% {
      text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Final glow color and size */
    }
  }

.about-content{
    display: flex;
    justify-content: center;
    align-items: centers;
}

.btn{
    margin-left: 95px;
    

}

@media (max-width:1023px){
  .header{
    padding: 12px 20px;
  }

  .navbar a{
    margin-left: 10px;

  }


}